@import "~materialize-css/dist/css/materialize.min.css";

/* Общие стили */
:root {
    --epicColor: #e0e0e0;
    --unactiveColor: rgb(97, 97, 97);
}

html, body, div#root { height:100% }

html { background-color: #424242 }

h1, h2, h3, h4, h5, h6, p, input, select, textarea {
    color: #e0e0e0;
    font-size: 22px;
    margin: 0;
    padding: 0;
    cursor:  default;
}

h2 { color: white }

i.material-icons.buttonIcon { cursor: pointer }

label input[disabled][type="checkbox"]+span:not(.lever) { cursor: default }

label input[disabled][type="checkbox"]:not(:checked)+span:not(.lever):before { background-color: #212121 }

div.toast.OK { background-color: rgb(0, 185, 86) }

div.toast.Warning {
    background-color: rgb(255, 235, 59);
    color: #212121;
}

.waves-effect.waves-grey .waves-ripple { background-color: rgb(97, 97, 97) }

.waves-effect.waves-epic { border-bottom-color: var(--epicColor) }

.waves-effect.waves-epic .waves-ripple { background-color: var(--epicColor) }

.epic-background {
    background-color: var(--epicColor);
    color: #000000 !important;
}

.white-background {
    background-color: #e0e0e0;
    color: #000000 !important;
}

.epic-text { color: var(--epicColor) !important }



/* Стили для TasksPage */
div#tasksDashBoard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

div#tasksDashBoard #block1 {
    width: calc(60%);
    margin: 22px 11px 22px 22px;
}

div#tasksDashBoard #block1 h2 {
    font-size: 32px;
    line-height: 46px;
}

div#tasksDashBoard #block1 button.btn-flat#createTask {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#tasksDashBoard #block1 button.btn-flat#createTask i {
    margin-right: 5px;
}

div#tasksDashBoard #block2 {
    width: calc(40%);
    margin: 22px 22px 22px 11px;
}

div.tasksList div.task, div.habitsPage div.frontHabits, div.habitsPage div.backHabits, div.habitsEdit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 13px;
    margin: 13px 0 13px 13px;
    background-color: #212121;
}

div.tasksList div.task { background-color: rgba(33, 33, 33, 0.75) }

div.tasksList div.task.doneTask {
    filter: grayscale(1);
    background-color: rgba(33,33,33,0.22);
}

div.tasksList div.task.doneTask * { color: #bdbdbd }

div.task div.taskBlock1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #212121;
    border-radius: 13px;
}

div.tasksList div.task.doneTask div.taskBlock1 { background-color: rgba(33, 33, 33, 0.22) }

div.task div.taskBlock2 { margin-left: 95px }

div.tasksList div.task * { line-height: 32px }

/* Стили чекера задачи*/
div.tasksList div.task div.taskCheckerBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 13px 6px 13px 13px;
}

div.tasksList div.task div.taskCheckerBlock label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

div.tasksList div.task div.taskCheckerBlock label span {
    width: 32px;
    height: 32px;
    padding: 0;
}

div.taskCheckerBlock [type="checkbox"]+span:not(.lever):before {
    width: 32px;
    height: 32px;
    margin: 0;
}

div.taskCheckerBlock [type="checkbox"]:checked+span:not(.lever):before {
    width: 18px;
    height: 30px;
    top: -2px;
}

/* Стили информации задачи */
div.tasksList div.task div.taskInfoBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 51px);
    margin: 13px 7px 13px 7px;
}

div.tasksList div.task div.taskInfoBlock > *:not(:first-child) { margin: 13px 0 0 0 }

div.tasksList div.task div.taskSubBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
}

div.tasksList div.task div.taskSubBlock:not(:last-child) > *:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
}

div.tasksList div.task div.taskSubBlock#subBlock3 .subTask > *:not(:first-child) { margin-left: 13px }

div.tasksList div.task div.taskSubBlock > *:not(:first-child) { margin: 0 0 0 13px }

/* Стили кнопки редактирования задачи */
div.tasksList div.task div.taskEditBlock, div.frontHabits div.habitsInfoBlock i.material-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 0 13px 0 6px;
}

div.tasksList div.task div.taskEditBlock i.material-icons, div.frontHabits div.habitsInfoBlock i.material-icons {
    color: #e0e0e0;
    font-size: 32px;
}


/* Стили подзадачи */
div.taskSubTasksBlock > *:last-child {
    margin-bottom: 13px;
}

div.task div.taskBlock2 div.subTask label,
div.frontHabits div.habitsSubTasksBlock div.subTask label,
div.backHabitsInfo div.subTask label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
}

div.task div.taskBlock2 div.subTask label span,
div.frontHabits div.habitsSubTasksBlock div.subTask label span,
div.backHabitsInfo div.subTask label span {
    width: 22px;
    height: 22px;
    padding: 0;
}

div.task div.taskBlock2 div.subTask [type="checkbox"]+span:not(.lever):before,
div.frontHabits div.habitsSubTasksBlock div.subTask [type="checkbox"]+span:not(.lever):before,
div.backHabitsInfo div.subTask [type="checkbox"]+span:not(.lever):before {
    width: 22px;
    height: 22px;
    margin: 0;
}

div.task div.taskBlock2 div.subTask [type="checkbox"]:checked+span:not(.lever):before,
div.frontHabits div.habitsSubTasksBlock div.subTask [type="checkbox"]:checked+span:not(.lever):before,
div.backHabitsInfo div.subTask [type="checkbox"]:checked+span:not(.lever):before {
    width: 12px;
    height: 21px;
    top: -2px;
    left: -3px;
}

div.task div.taskBlock2 div.subTask p, div.frontHabits div.habitsSubTasksBlock div.subTask p, div.backHabitsInfo div.subTask p { margin-left: 13px }

/* Стили привычек */
div#block2 > h2 {
    font-size: 32px;
    line-height: 46px;
}

div.habitsPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

div.habitsPage div.backHabits {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(33,33,33,0.75);
}

div.backHabitsInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.backHabitsInfo div.subTask {
    width: auto;
    margin-left: 13px;
}

div.backHabits i {
    height: 32px;
    width: 32px;
    margin: 13px 8px 0 8px;
    font-size: 32px;
    color: #e0e0e0;
}

div#block2 div.frontHabits {
    margin: 0;
    width: 100%;
    box-shadow: -8px 0 17px 2px rgba(33,33,33,0.14),-3px 0 14px 2px rgba(33,33,33,0.12),-5px 0 5px -3px rgba(33,33,33,0.2);
}

div.frontHabits div.habitsInfoBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 26px);
    margin: 13px 13px 0 13px;
}

div.frontHabits div.habitsSubTasksBlock { margin: 0 13px 13px 13px }

div.frontHabits div.habitsInfoBlock h3 {
    line-height: 32px;
    width: calc(100% - 45px);
}

div.frontHabits div.habitsInfoBlock i.material-icons {
    margin: 0 0 0 13px;
}

div.frontHabits div.habitsSubTasksBlock, div.habitsEdit div.habitsSubTasksBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 26px);
    margin-left: 13px;
}

div.habitsEdit div.habitsSubTasksBlock { margin: 13px }

div.frontHabits div.habitsSubTasksBlock div.noHabitsMessage {
    line-height: 32px;
    font-size: 22px;
    color: #e0e0e0;
}

div.frontHabits div.habitsSubTasksBlock div.subTask p {
    height: 32px;
}

div.habitsEdit { width: 100% }

div.habitsEdit div.subTask {
    height: 46px;
}

div.habitsEdit div.habitsSubTasksBlock > div:first-child {
    margin-top: 0;
}

div.habitsEdit div.habitsSubTasksBlock > div:not(:first-child) {
    margin-top: 13px;
}

div.habitsEdit div.subTask input {
    margin-bottom: 0;
}

div.habitsEdit div.habitsButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

div.habitsEdit div.habitsButtons > div:last-child > *:not(:first-child) {
    margin: 0 0 0 13px;
}




div.modal#create { border-radius: 22px }

div.createTask {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #e0e0e0;
    margin: 13px 0 13px 13px;
    background-color: #212121;
    border-radius: 13px;
    padding: 13px;
}

div.createTask > button {
    margin-top: 13px;
    margin-left: 22px;
}

.input-block0 {
    display: flex;
    width: 100%;
    height: 46px;
}
.input-block0 > * {
    width: 20%;
    height:100%;
    border-bottom: 1px solid #424242;
}

.input-block0 .epicIcon {
    margin-right: 13px;
    filter: grayscale(1);
}

.input-block0 button.selected .epicIcon { filter: grayscale(0) }

.input-block1 {
    width: calc((100% - 22px) /5*4);
    margin-right: 11px;
}

div.createTask div.input-block1 input, div.createTask div.input-block3 input { margin-bottom: 0 }

.input-block1 .input-fields3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-block1 .input-fields3 > *:not(:first-child) { margin-left: 13px }

.input-block2 {
    width: calc((100% - 22px) /5);
    margin-left: 11px;
}

.input-block3 {
    margin-left: 22px;
    margin-top: 13px;
    width: calc(100% - 22px);
}

div.input-block3 > *:not(:first-child) {
    margin: 13px 0 0 0;
    width: 100%;
}

div.input-block3 div.subTaskCheckerBlock { margin: 0 13px 0 0 }

div.input-block4 {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 22px;
    margin-top: 13px;
}

div.input-block4 > div, div.habitsButtons > div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.input-block4 > div > *:not(:first-child), div.habitsSubTasksBlock > div:last-child > *:not(:first-child) {
    margin: 0 0 0 13px;
}

div.subTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 32px;
    margin-top: 13px;
}

div#eisenhowerMatrix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100% - 22px);
    width: 100%;
    margin-top: 22px;
}

div.eisenhowerOption {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    color: #e0e0e0;
}

div.eisenhowerOption#eisenhowerA {
    border-right: 1px solid var(--epicColor);
    border-bottom: 1px solid var(--epicColor);
    border-top-left-radius: 13px;
}
div.eisenhowerOption#eisenhowerB {
    border-left: 1px solid var(--epicColor);
    border-bottom: 1px solid var(--epicColor);
    border-top-right-radius: 13px;
}
div.eisenhowerOption#eisenhowerC {
    border-right: 1px solid var(--epicColor);
    border-top: 1px solid var(--epicColor);
    border-bottom-left-radius: 13px;
}
div.eisenhowerOption#eisenhowerD {
    border-left: 1px solid var(--epicColor);
    border-top: 1px solid var(--epicColor);
    border-bottom-right-radius: 13px;
}

button.btn-flat {
    min-width: 45px;
    background-color: transparent;
    color: #e0e0e0;
}

button.btn-flat.notEvent { text-decoration: line-through }

button.btn-flat.Event { text-decoration: none }

div.createTask button.btn-flat, div.createTask button.btn {
    padding: 13px;
    border-radius: 13px;
    height: 46px;
    min-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.createTask button.someRequired {
    background-color: rgba(66, 66, 66, 0.75);
    color: #212121;
}

div.createTask button.btn-flat {
    padding: 0;
    border-radius: 2px;
}

button.btn-flat:focus { background-color: transparent }



div.input-fields1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.input-block1 > * { margin: 13px 0 0 0 }

div.input-fields1 > *:not(:first-child) { margin: 0 0 0 13px }

input#taskTitle { width: 100% }

div.createTask div.input-block1 input.required, div.createTask div.input-block3 input.required { border-bottom-color: var(--epicColor) }

div.createTask input:not(.browser-default), div.createTask p#eisenhowerTitle { border-bottom-color: #424242 }

div.createTask input:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #616161;
    box-shadow: 0 1px 0 0 #616161;
}

div.createTask button.btn-flat.notEvent#isEvent:hover { color: rgb(97,97,97) !important }

div.createTask div.input-block1 input { margin-bottom: 0 }


/* Стили календаря */
div.fc {
    margin-left: 13px;
}

div.fc h2.fc-toolbar-title {
    font-size: 32px;
    line-height: 46px;
}

div.fc div.fc-toolbar.fc-header-toolbar {
    margin-bottom: 13px;
}

div.fc table.fc-scrollgrid-liquid {
    border-top-left-radius: 13px;
    background-color: #212121;
    border: none;
}

div.fc a.fc-col-header-cell-cushion, div.fc span.fc-timegrid-axis-cushion, div.fc div.fc-timegrid-slot-label-cushion {
    color: #e0e0e0;
}

div.fc-theme-standard td, div.fc-theme-standard th {
    border: 1px solid #5a5a5a;
}